<<fieldset>
	<legend>Remove this Book </legend>

	<form method="POST" action="/putItOut?_method=DELETE">
		<input type="text" name="title" id="title" value="<%= book.title %>">
		<input type="text" name="author" id="author" value="<%= book.author %>">
		<input type="text" name="year" id="year" value="<%= book.year %>">
		<input type="submit" value="submit">
	</form>
	</fieldset>